.main
    .header 
        .logo
            %img{src: "/logo.png", height: '100px'} 
    
    %button.gear{:onclick => "location.href ='/agents';"}
        %img{src: "icons/gear-fill.svg", height: '22px'}
    .teams
        -@teams.each do |team|
            .team_card
                .team_name
                    %img{src:"/mascotes/#{team.name.downcase}.png", height: "90px"}
                    %p
                        %strong
                            = team.name
                .coordinator
                    %p
                        %strong
                            = team.coordinator 
                .agents
                    -team.agents.each do |agent|
                        %a{:onclick => "showAuth(#{agent.id})"}
                            .agent
                                %p
                                    = agent.name

    .auth.hidden#auth
        .window
            %h1
                Senha
            = form_with url: '/', method: :post do |f|
                = f.hidden_field :agent, value: 1
                = f.text_field :pin
                = button_tag :confirmar, type: 'submit'
            
            = turbo_frame_tag "alert" do
                - flash.each do |type, msg|
                    .alert#flash
                        %strong
                            = msg

            = button_tag :voltar, onclick: "hideAuth()"
                

:javascript


    function showAuth(id){
        var element = document.getElementById("auth")

        element.classList.toggle("hidden")

        element = document.getElementById("agent")

        element.value = id;
    }

    function hideAuth(){
        var element = document.getElementById("auth")
        element.classList.toggle("hidden")
    }